//- h3.h3 Инструменты:
+tools([
	['Полное ФИО', ' Петров Дмтрий Юрьевич'],
	['Год рождения', ' 1984'],
	['Место жительства', ' г. Севастополь, Россия'],
	['Скайп', ' topwebmaster'],
	['Почта', ' topwebmasterblog@gmail.com'],

])

.webmaster
	form
		.checkbox Выпускник
			a(href='//htmlacademy.ru')  htmlacademy.ru
			input(type='radio' id='yes' value='yes' checked='checked')
			label(for='yes') Да
			input(type='radio' id='no' value='no' checked='no')
			label(for='no') Нет


div#slider2 слайдер
h2.h2 СТРУКТУРА ФАЙЛОВ

.container
	.col
		h3.h3 Исходники
		+tree([
			{
				folder: 'images'
			}, {
				folder: 'resources'
			}, {
				folder: 'scripts',
				content: [
					{
						folder: 'libs',
						content: [
							{ file: 'jquery.min.js' },
						]
					},
					{ file: 'common.js' },
					{ file: 'debug.js' }
				]
			}, {
				folder: 'styles',
				content: [
					{
						folder: 'base',
						content: [
							{ file: 'base.styl' },
							{ file: 'fonts.styl' },
							{ file: 'normalize.styl' }
						]
					},
					{
						folder: 'components',
						content: [
							{ file: 'fork.styl' }
						]
					},
					{
						folder: 'helpers',
						content: [
							{ file: 'mixins.styl' },
							{ file: 'sprite.styl' },
							{ file: 'variables.styl' }
						]
					},
					{
						folder: 'block',
						content: [
							{ file: 'main.styl' }
						]
					},
					{
						folder: 'partials',
						content: [
							{ file: 'footer.styl' },
							{ file: 'header.styl' }
						]
					},
					{ file: 'common.styl' }
				]
			}, {
				folder: 'templates',
				content: [
					{
						folder: 'blocks',
						content: [
							{ file: 'main.jade' }
						]
					},
					{
						folder: 'helpers',
						content: [
							{ file: 'mixins.jade' },
							{ file: 'variables.jade' }
						]
					},
					{
						folder: 'layouts',
						content: [
							{ file: 'default.jade' }
						]
					},
					{
						folder: 'pages',
						content: [
							{ file: 'index.jade' }
						]
					},
					{
						folder: 'partials',
						content: [
							{ file: 'footer.jade' },
							{ file: 'head.jade' },
							{ file: 'header.jade' },
							{ file: 'scripts.jade' }
						]
					}
				]
			}
		])

	.col
		.arrow-caption Компиляция
		.arrow

	.col
		h3.h3 Готовые файлы
		+tree([
			{
				folder: 'assets',
				content: [
					{ folder: 'images' },
					{
						folder: 'scripts',
						content: [
							{
								folder: 'libs',
								content: [
									{ file: 'jquery.min.js' }
								]
							},
							{ file: 'common.js' },
							{ file: 'debug.js' }
						]
					},
					{
						folder: 'styles',
						content: [
							{ file: 'common.css' }
						]
					}
				]
			},
			{ file: 'index.html' }
		])
