* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
	will-change: all;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}
.main{
	min-height: 1500px;
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

html {
	font-family: sans-serif;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	-webkit-focus-ring-color: rgba(255,255,255,0);
}

body {
	font-size: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}

a {
	background: transparent;
}

*:focus,
*:active,
*:hover {
	outline: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

ol,
ul {
	list-style: none;
}

pre {
	white-space: pre-wrap;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
}

q {
	quotes: '\201C' '\201D' '\2018' '\2019';
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input[type='search'] {
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

button,
input,
select[multiple],
textarea {
	background-image: none;
}

input,
select,
textarea {
	border-radius: 0;
	box-shadow: none;
}

input,
textarea {
	resize: none;
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
	color: transparent;
}

[placeholder]:focus::-moz-placeholder {
	color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
	color: transparent;
}

[placeholder]:focus::placeholder {
	color: transparent;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

body {
	font-family: cuprum, sans-serif;
	cursor: default;
	color: #000;
	background-color: #797979;

}

	@font-face {
		font-family: 'PT Sans Bold', sans-serif;
		src: url(/assets/fonts/PT_Sans/PT_Sans-Web-Bold.ttf);

}

 .fio,
 {
	font-family: "PT Sans Bold", sans-serif;
	font-weight: bold;

}
.main {
	margin-right: auto;
	margin-left: auto;
	padding: 20px 20px 0px;
	max-width: 1000px;
	font-size: 16px;
	background: url('../images/pattern.jpg');
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(0,0,0,.5);
}

.main::-moz-selection {
	background-color: #ffffd0;
}

.main::selection {
	background-color: #ffffd0;
}

.webmaster{
	height: 100%;
}

.h1 {
	margin-right: -20px;
	margin-bottom: 20px;
	margin-left: -20px;
	padding: 20px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.h2 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.h3 {
	margin-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
}

.description {
	margin-bottom: 40px;
	font-size: 18px;
	text-align: center;
}

.mark {
	padding: 0 4px;
	font-weight: bold;
	background-color: #e8e8e8;
	border-radius: 4px;
	text-shadow: 1px 1px 1px rgba(255,255,255,.5);
}

.mark::-moz-selection {
	background-color: rgba(0,0,0,.1);
}

.mark::selection {
	background-color: rgba(0,0,0,.1);
}

.copyright {
	margin: 30px -20px -20px;
	padding: 20px;
	border-radius: 0 0 4px 4px;
}

.logo {
	margin-top: 53px;
	margin-left: 27px;
	width: 150px;
	height: 180px;
	height: 54px;
	background: url('../images/logo.png') no-repeat;
}

.fork::-moz-selection {
	background-color: transparent;
}

.fork::selection {
	background-color: transparent;
}

.fork__link {
	padding: 5px 40px;
	display: block;
	font: bold 1rem/2rem arial, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background .25s ease-out, color .25s ease-out;
	     -o-transition: background .25s ease-out, color .25s ease-out;
	        transition: background .25s ease-out, color .25s ease-out;
}

.fork__link:hover {
	color: #fff;
	background-color: #e74c3c;
	background-image: none;
}

.arrow {
	margin: 0 auto;
}

.arrow-caption {
	font-size: 14px;
	text-align: center;
	color: #579eda;
}

.case {
	margin-top: 65px;
	margin-left: 36.5%;
	height: 120px;
	font-size: 1px;
	background: url('../images/delo.png') no-repeat;
}

.list {
	margin-bottom: 20px;
	list-style: none;
}

.item0 {
	margin-top: -2px;
	font-size: 22.43pt;
}

.item1 {
	margin-top: auto;
}

.line-container {
	float: right;
}

.underline {
	margin-right: 70px;
	display: block;
	width: 750px;
	height: 4px;
	content: ' ';
	background: url('/assets/images/range_line.png') repeat-x;
}



.skills{
	width: 90%;
	margin: 20px 40px;
	padding-top: 20px;
	display: inline-block;
}
.column1,.column2,.column3{
	width:33%;
	height: 300px;
	float: left;
}

header{
	margin-bottom: 20px;
}

.sign{
	margin-bottom: 0;

}
/* Ion.RangeSlider
// css version 2.0.2
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */
.slider-container{
	max-width: 750px;
	margin: 0 auto;
	padding-top: 20px;


}
.irs {
	position: relative; display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.irs-line {
	position: relative; display: block;
	overflow: hidden;
	outline: none !important;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
	position: absolute; display: block;
	top: 0;
}
.irs-line-left {
	left: 0; width: 11%;
}
.irs-line-mid {
	left: 9%; width: 82%;
}
.irs-line-right {
	right: 0; width: 11%;
}

.irs-bar {
	position: absolute; display: block;
	left: 0; width: 0;
}
.irs-bar-edge {
	position: absolute; display: block;
	top: 0; left: 0;
}

.irs-shadow {
	position: absolute; display: none;
	left: 0; width: 0;
}

.irs-slider {
	position: absolute; display: block;
	cursor: default;
	z-index: 1;
}
.irs-slider.single {

}
.irs-slider.from {

}
.irs-slider.to {

}
.irs-slider.type_last {
	z-index: 2;
}

.irs-min {
	position: absolute; display: block;
	left: 0;
	cursor: default;
}
.irs-max {
	position: absolute; display: block;
	right: 0;
	cursor: default;
}

.irs-from, .irs-to, .irs-single {
	position: absolute; display: block;
	top: 0; left: 0;
	cursor: default;
	white-space: nowrap;
}

.irs-grid {
	position: absolute; display: none;
	bottom: 0; left: 0;
	width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
	display: block;
}
.irs-grid-pol {
	position: absolute;
	top: 0; left: 0;
	width: 1px; height: 8px;
	background: #000;
}
.irs-grid-pol.small {
	height: 4px;
}
.irs-grid-text {
	position: absolute;
	bottom: 0; left: 0;
	white-space: nowrap;
	text-align: center;
	font-size: 9px; line-height: 9px;
	padding: 0 3px;
	color: #000;
}

.irs-disable-mask {
	position: absolute; display: block;
	top: 0; left: -1%;
	width: 102%; height: 100%;
	cursor: default;
	background: rgba(0,0,0,0.0);
	z-index: 2;
}
.irs-disabled {
	opacity: 0.4;
}
.lt-ie9 .irs-disabled {
	filter: alpha(opacity=40);
}


.irs-hidden-input {
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	left: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: none !important;
	z-index: -9999 !important;
	background: none !important;
	border-style: solid !important;
	border-color: transparent !important;
}

.secret{
	background-image: url("/assets/images/secret.png");
	height: 121px;
	width: 272px;
	float: right;


}
/* Ion.RangeSlider, Modern Skin
// css version 2.0.0
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/*
.irs-line-right,
.irs-bar-edge,*/
.irs-slider {
	background: url(../images/ranger.png);
}
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar{
	background-image: url(../images/range_line.png);
}
.irs {
	height: 50px;
}
.irs-with-grid {
	height: 70px;
}
.irs-line {
	height: 6px; top: 25px;
}
.irs-line-left {
	height: 6px;
	background-position: 0 -30px;
}
.irs-line-mid {
	height: 6px;
	background-position: 0 0;
}
.irs-line-right {
	height: 6px;
	background-position: 100% -30px;
}

.irs-bar {
	height: 6px; top: 25px;
	background-position: 0 -60px;
}
.irs-bar-edge {
	top: 25px;
	height: 6px; width: 6px;
	background-position: 0 -90px;
}

.irs-shadow {
	height: 5px; top: 25px;
	background: #000;
	opacity: 0.25;
}
.lt-ie9 .irs-shadow {
	filter: alpha(opacity=25);
}

.irs-slider {
	width: 18px; height: 17px;
	top: 10px;

}


.irs-min, .irs-max {
	color: #999;
	font-size: 10px; line-height: 1.333;
	text-shadow: none;
	top: 0; padding: 1px 3px;
	background: #e1e4e9;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
	color: #fff;
	font-size: 10px; line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: #20b426;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
	position: absolute; display: block; content: "";
	bottom: -6px; left: 50%;
	width: 0; height: 0;
	margin-left: -3px;
	overflow: hidden;
	border: 3px solid transparent;
	border-top-color: #20b426;
}

.irs-grid {
	height: 34px;
}
.irs-grid-pol {
	background: #3f2520;

}
.irs-grid-text {
	bottom: 12px;
	color: #3f2520;
	font-size: 13px;
}

.irs-disable-mask {

}
.irs-disabled {

}
.lt-ie9 .irs-disabled {

}


/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.irs-min, .irs-max{
	visibility: hidden;
}