
body {
	font-size: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}

.wrapper{
	margin-right: 117px;
	margin-left: 110px;
}

.main {
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0px;
	max-width: 1000px;
	font-size: 16px;
	background: url('../images/pattern.jpg');
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(0,0,0,.5);
}

.main::-moz-selection {
	background-color: #ffffd0;
}

.main::selection {
	background-color: #ffffd0;
}


a {
	background: transparent;
}


hr {
	box-sizing: content-box;
	height: 0;
}

ul {
	list-style: none;
}




body {
	cursor: default;
	color: #000;
	background-color: #797979;

}
@font-face {
	font-family: 'PT Sans Bold', sans-serif;
	src: url("../fonts/PT_Sans/PT_Sans-Web-Bold.ttf");

}


.webmaster{
	height: 100%;
}

.h1 {
	margin-right: -20px;
	margin-bottom: 20px;
	margin-left: -20px;
	padding: 20px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.h2 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.h3 {
	margin-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
}

.description {
	margin-bottom: 40px;
	font-size: 18px;
	text-align: center;
}

.mark {
	padding: 0 4px;
	font-weight: bold;
	background-color: #e8e8e8;
	border-radius: 4px;
	text-shadow: 1px 1px 1px rgba(255,255,255,.5);
}

.mark::-moz-selection {
	background-color: rgba(0,0,0,.1);
}

.mark:selection {
	background-color: rgba(0,0,0,.1);
}

.copyright {
	margin: 30px -20px -20px;
	padding: 20px;
	border-radius: 0 0 4px 4px;
}

.logo {
	margin-top: 53px;
	margin-left: 27px;
	width: 150px;
	height: 180px;
	height: 54px;
	background: url('../images/logo.png') no-repeat;
}



.case {
	margin-top: 65px;
	margin-left: 36.5%;
	height: 120px;
	font-size: 1px;
	background: url('../images/delo.png') no-repeat;
}

.list input[type=text],
.list input[type=email]
{
	background: none;
	border: none;
	padding-left: 15px;
}

.fio input {
	width: 560px;
}

.city input {
	width: 480px;
	
}
.skype input,
.email input {
	width: 600px;
}
.fio input,
.city input,
.skype input,
.email input,
.year input{
	margin-bottom: -8px;
	display: block;
}

input[type="radio"] {
display:none;
}

.list>li{

	list-style: none;
	padding-bottom: 3px;
	display: block;
	width: 770px;
	
	background-image: url('../images/line.png');
	background-repeat: no-repeat;
	
	height: 60px;
	
}

.fio{
	background-position: 205px 100%;
}
.year{
	background-position: 225px 100%;
}

.city{
	background-position: 275px 100%;
}
.skype{
	background-position: 100px 100%;
}

.email{
	background-position: 100px 100%;
}
.list .spec{
	background: none;
}

 .fio>p,
 .year>p,
 .city>p,
 .skype>p,
 .email>p,
 .spec {
	font-family: "PT Sans Bold", sans-serif;
	font-size: 22.43pt;
	margin-bottom: 2px;
	display: inline-block;
	

}

.fio .item,
.year .item,
.city .item,
.skype .item,
.email .item{
	font-family:"Courier New", monospace;
	font-size: 30px;
	display: inline-block;
	
}


.skills{
	padding-top: 20px;
	display: inline-block;
}

.skills label{
	font-size: 21pt;
	font-family: PT Sans;
	

}
.column1,.column2,.column3{
	width:33%;
	height: 300px;
	float: left;
}

header{
	margin-bottom: 20px;
}

.sign{
	margin-bottom: 0;

}
/* Ion.RangeSlider
// css version 2.0.2
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */
.slider-container{
	max-width: 750px;
	margin: 0 auto;
	padding-top: 20px;


}
.irs {
	position: relative; display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.irs-line {
	position: relative; display: block;
	overflow: hidden;
	outline: none !important;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
	position: absolute; display: block;
	top: 0;
}
.irs-line-left {
	left: 0; width: 11%;
}
.irs-line-mid {
	left: 9%; width: 82%;
}
.irs-line-right {
	right: 0; width: 11%;
}

.irs-bar {
	position: absolute; display: block;
	left: 0; width: 0;
}
.irs-bar-edge {
	position: absolute; display: block;
	top: 0; left: 0;
}

.irs-shadow {
	position: absolute; display: none;
	left: 0; width: 0;
}

.irs-slider {
	position: absolute; display: block;
	cursor: default;
	z-index: 1;
}
.irs-slider.single {

}
.irs-slider.from {

}
.irs-slider.to {

}
.irs-slider.type_last {
	z-index: 2;
}

.irs-min {
	position: absolute; display: block;
	left: 0;
	cursor: default;
}
.irs-max {
	position: absolute; display: block;
	right: 0;
	cursor: default;
}

.irs-from, .irs-to, .irs-single {
	position: absolute; display: block;
	top: 0; left: 0;
	cursor: default;
	white-space: nowrap;
}

.irs-grid {
	position: absolute; display: none;
	bottom: 0; left: 0;
	width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
	display: block;
}
.irs-grid-pol {
	position: absolute;
	top: 0; left: 0;
	width: 1px; height: 8px;
	background: #000;
}
.irs-grid-pol.small {
	height: 4px;
}
.irs-grid-text {
	position: absolute;
	bottom: 0; left: 0;
	white-space: nowrap;
	text-align: center;
	font-size: 9px; line-height: 9px;
	padding: 0 3px;
	color: #000;
}

.irs-disable-mask {
	position: absolute; display: block;
	top: 0; left: -1%;
	width: 102%; height: 100%;
	cursor: default;
	background: rgba(0,0,0,0.0);
	z-index: 2;
}
.irs-disabled {
	opacity: 0.4;
}
.lt-ie9 .irs-disabled {
	filter: alpha(opacity=40);
}


.irs-hidden-input {
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	left: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: none !important;
	z-index: -9999 !important;
	background: none !important;
	border-style: solid !important;
	border-color: transparent !important;
}

.secret{
	background-image: url("../images/secret.png");
	height: 121px;
	width: 272px;
	float: right;


}
/* Ion.RangeSlider, Modern Skin
// css version 2.0.0
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/*
.irs-line-right,
.irs-bar-edge,*/
.irs-slider {
	background: url(../images/ranger.png);
}
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar{
	background-image: url(../images/range_line.png);
}
.irs {
	height: 50px;
}
.irs-with-grid {
	height: 70px;
}
.irs-line {
	height: 6px; top: 25px;
}
.irs-line-left {
	height: 6px;
	background-position: 0 -30px;
}
.irs-line-mid {
	height: 6px;
	background-position: 0 0;
}
.irs-line-right {
	height: 6px;
	background-position: 100% -30px;
}

.irs-bar {
	height: 6px; top: 25px;
	background-position: 0 -60px;
}
.irs-bar-edge {
	top: 25px;
	height: 6px; width: 6px;
	background-position: 0 -90px;
}

.irs-shadow {
	height: 5px; top: 25px;
	background: #000;
	opacity: 0.25;
}
.lt-ie9 .irs-shadow {
	filter: alpha(opacity=25);
}

.irs-slider {
	width: 18px; height: 17px;
	top: 10px;

}


.irs-min, .irs-max {
	color: #999;
	font-size: 10px; line-height: 1.333;
	text-shadow: none;
	top: 0; padding: 1px 3px;
	background: #e1e4e9;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
	color: #fff;
	font-size: 10px; line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: #20b426;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
	position: absolute; display: block; content: "";
	bottom: -6px; left: 50%;
	width: 0; height: 0;
	margin-left: -3px;
	overflow: hidden;
	border: 3px solid transparent;
	border-top-color: #20b426;
}

.irs-grid {
	height: 34px;
}
.irs-grid-pol {
	background: #3f2520;

}
.irs-grid-text {
	bottom: 12px;
	color: #3f2520;
	font-size: 13px;
}

.irs-disable-mask {

}
.irs-disabled {

}
.lt-ie9 .irs-disabled {

}




